Repository ScuffleTV/video: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-aac, scuffle-amf0, scuffle-av1, scuffle-batching, scuffle-bootstrap, scuffle-bytes-util, scuffle-context, scuffle-expgolomb, scuffle-ffmpeg, scuffle-flv, scuffle-future-ext, scuffle-h3-webtransport, nutype-enum, scuffle-http, scuffle-metrics, postcompile, scuffle-pprof, scuffle-rtmp, scuffle-settings, scuffle-signal

codecov.yml:

coverage:
  status:
    project: off
    patch: off

github_checks:
  annotations: false

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: false

comment:
  layout: "header, diff, files, components"
  behavior: default
  require_changes: false
  require_head: false
  require_base: false

ignore:
  - "dev-tools/**"

component_management:
  individual_components:
    - component_id: scuffle-aac
      name: scuffle-aac
      paths:
        - crates/aac/**
    - component_id: scuffle-amf0
      name: scuffle-amf0
      paths:
        - crates/amf0/**
    - component_id: scuffle-av1
      name: scuffle-av1
      paths:
        - crates/av1/**
    - component_id: scuffle-batching
      name: scuffle-batching
      paths:
        - crates/batching/**
    - component_id: scuffle-bootstrap
      name: scuffle-bootstrap
      paths:
        - crates/bootstrap/**
    - component_id: scuffle-bytes-util
      name: scuffle-bytes-util
      paths:
        - crates/bytes-util/**
    - component_id: scuffle-context
      name: scuffle-context
      paths:
        - crates/context/**
    - component_id: scuffle-expgolomb
      name: scuffle-expgolomb
      paths:
        - crates/expgolomb/**
    - component_id: scuffle-ffmpeg
      name: scuffle-ffmpeg
      paths:
        - crates/ffmpeg/**
    - component_id: scuffle-flv
      name: scuffle-flv
      paths:
        - crates/flv/**
    - component_id: scuffle-future-ext
      name: scuffle-future-ext
      paths:
        - crates/future-ext/**
    - component_id: scuffle-h3-webtransport
      name: scuffle-h3-webtransport
      paths:
        - crates/h3-webtransport/**
    - component_id: nutype-enum
      name: nutype-enum
      paths:
        - crates/nutype_enum/**
    # - component_id: scuffle-h264
    #   name: scuffle-h264
    #   paths:
    #     - crates/h264/**
    # - component_id: scuffle-h265
    #   name: scuffle-h265
    #   paths:
    #     - crates/h265/**
    - component_id: scuffle-http
      name: scuffle-http
      paths:
        - crates/http/**
    - component_id: scuffle-metrics
      name: scuffle-metrics
      paths:
        - crates/metrics/**
    # - component_id: scuffle-mp4
    #   name: scuffle-mp4
    #   paths:
    #     - crates/mp4/**
    - component_id: postcompile
      name: postcompile
      paths:
        - crates/postcompile/**
    - component_id: scuffle-pprof
      name: scuffle-pprof
      paths:
        - crates/pprof/**
    - component_id: scuffle-rtmp
      name: scuffle-rtmp
      paths:
        - crates/rtmp/**
    - component_id: scuffle-settings
      name: scuffle-settings
      paths:
        - crates/settings/**
    - component_id: scuffle-signal
      name: scuffle-signal
      paths:
        - crates/signal/**
    # - component_id: scuffle-transmuxer
    #   name: scuffle-transmuxer
    #   paths:
    #     - crates/transmuxer/**

refactor(http): hyper backend
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/handler.rs
  crates/http/src/backend/hyper/insecure.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/secure.rs
  crates/http/src/backend/hyper/stream.rs
  crates/http/src/server.rs
Due: scuffle-http

fix(http): powersets
  crates/http/src/backend/hyper/mod.rs
Due: scuffle-http

docs(http): update examples readme
  crates/http/examples/README.md
Due: scuffle-http

refactor(http): drop instead of explicit move
  crates/http/src/backend/h3/mod.rs
Due: scuffle-http

feat(xtask): add dry run option for powerset command
  dev-tools/xtask/src/cmd/power_set.rs
Due: none

fix(http): powerset config
  crates/http/Cargo.toml
  crates/http/README.md
  crates/http/src/lib.rs
Due: scuffle-http

fix(http): powerset clippy
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/stream.rs
Due: scuffle-http

fix(http): stop on fatal errors
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/backend/hyper/utils.rs
Due: scuffle-http

fix(http): return early when a task fails
  crates/http/src/backend/hyper/mod.rs
Due: scuffle-http

fix(http): actual workers
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
Due: scuffle-http

fix(http): h3 workers
  crates/http/src/backend/h3/mod.rs
  crates/http/src/error.rs
Due: scuffle-http

fix create release
  .github/workflows/create-crate-release.yaml
Due: none

Automated release of nutype-enum
  Cargo.lock
  Cargo.toml
  changes.d/pr-290.toml
  crates/nutype_enum/CHANGELOG.md
  crates/nutype_enum/Cargo.toml
Due: nutype-enum
